<div>
  <h1>{{ shop.name }}</h1>
  <p>Wir öffnen bald.</p>
  {% form 'storefront_password' %}
    <input type="password" name="password" placeholder="Passwort">
    <button class="btn" type="submit">Eintreten</button>
  {% endform %}
</div>
