<div class="page"><h1>Passwort zurücksetzen</h1>
{% form 'reset_customer_password' %}
  <input type="password" name="customer[password]" placeholder="Neues Passwort" required>
  <input type="password" name="customer[password_confirmation]" placeholder="Bestätigen" required>
  <button class="btn" type="submit">Speichern</button>
{% endform %}</div>
